a.entry {
    color: orangered
}

a.entry h3 {
    font-size: 1.8rem;
}
  
a.entry:hover {
    color: orangered; 
}

.entry_badge {
    animation: blinkAnime 2s infinite linear;
    margin-bottom: 15px;
}
@keyframes blinkAnime{
    0% {
        color: red;
        transform: rotate(0deg);
    }
    40% {
        color: red;
        transform: rotate(0deg);
    }
    50% {
        color: orange;
        transform: rotate(60deg);
    }
    60% {
        color: yellow;
        transform: rotate(120deg);
    }
    70% {
        color: green;
        transform: rotate(180deg);
    }
    80% {
        color: aqua;
        transform: rotate(240deg);
    }
    90% {
        color: blue;
        transform: rotate(300deg);
    }
    100% {
        color: purple;
        transform: rotate(360deg);
    }
}