header {
  background-color: rgb(180 154 31 / 80%);
}

header img {
  width: 142px;
  height: 32px;
}

header .title {
  font-family: serif;
  font-weight: 600;
}

main {
  margin-top: -72px;
  width: 100%;
  height: 100vh;
  position: relative;
}

main h1 {
  position: absolute;
  font-family: serif;
  animation-duration: 3s;
  animation-name: fadein;
  font-weight: 600;
  padding-top: 140px;
  padding-left: 40px;
  display        : inline-block;
  color          : #ffffff;
  font-size      : 36pt;
  letter-spacing : 4px;
  text-shadow:  2px  2px 10px #333 ,
               -2px  2px 10px #333 ,
                2px -2px 10px #333 ,
               -2px -2px 10px #333;
}

main .bg_wrapper {
  width: 100%;
}

.limit {
  width: 100%;
  margin: 0;
  font-size: 1rem;
  color: white;
  padding: 1rem;
  text-align: center;
  font-weight: 400;
  letter-spacing: 3px;
  background-image: repeating-linear-gradient( 135deg, #111, #111 10px, #222 10px, #222 20px);
}

.limit strong{
  font-size: 2rem;
  font-weight: 700;
  color: rgb(222, 190, 29);
}

main .bg {
  width: 100%;
}

main .attention {
  font-weight: 700;
  color: white;
  position: relative;
  overflow: hidden;
}

main .attention h3{
  color: white;
  position: relative;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0px;
  width: 100%;
  height: 200%;
  background: #292d4a;
}

@media (min-width: 1000px) {
  main {
    background-size: cover;
  }
  main .bg_wrapper {
    height: 500px;
    overflow: hidden;
  }
  .background {
    height: 400%;
  }
}
@media (max-width: 767.98px) {
  header img {
    width: 71px;
    height: 16px;
  }
  header .title {
    font-size: 16px;
  }
  main h1 {
    font-size      : 24pt;
    padding-top: 100px;
    padding-left: 10px;
  }
}

.course_header {
  text-align: center;
}

.course_header_title {
  font-weight: 700;
  margin: 1rem;
}
.course_header_description {
  font-size: 1.2rem;
  font-weight: 700;
}

.course_master {
  position: relative;
  padding: 2rem;
  overflow: hidden;
}

.course_master.active .bg {
  background: rgb(69, 17, 154);
}

.animation_course .bg {
  position: absolute;
  content: '';
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.animation_course.active .bg {
  animation-duration: 1s;
  animation-name: course_box;
}

.course_normal {
  position: relative;
  padding: 2rem;
  overflow: hidden;
}

.course_normal.active .bg {
  background: rgb(35, 131, 150);
}

.course_box .course_title {
  margin-bottom: 1rem;
}

.course_box .course_title h4 {
  color: white;
  font-size: 2rem;
  border: 2px solid white;
  border-radius: 5px;
  display: inline;
  padding: 5px;
}

.course_box .course_description {
  color: white;
  font-size: 1.5rem;
  display: inline;
}

.jq-animation-fadein {
  animation-duration: 3s;
  animation-name: fadein;
  position: relative;
}

.animation-below {
  visibility: hidden;
}

.animation-below.active {
  visibility: visible;
  animation-duration: 1s;
  animation-name: below;
}

@keyframes fadein {
  from {
    opacity: 0;
    top: 50px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes below {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes course_box {
  from {
    opacity: 0;
    transform: translate(-100%, 0)
  }

  to {
    opacity: 1;
    transform: translate(0, 0)
  }
}