:root {
  --primary-bg: #f1f1f1;
  --primary-text: #333;
  --accent-color1: #ba9ece;
  --accent-color2: #9ebece;
  --accent-color3: #cec29e;
  --accent-color4: #492b5e;
}

header {
  background-color: rgb(123 199 255 / 80%);
}

header img {
  width: 180px;
  height: auto;
}

header .title {
  font-family: serif;
  font-weight: 600;
}

main {
  margin-top: -72px;
}

main h1 {
  position: absolute;
  font-family: serif;
  animation-duration: 3s;
  animation-name: fadein;
  font-weight: 600;
  padding-top: 140px;
  padding-left: 40px;
  display        : inline-block;
  color          : #ffffff;
  font-size      : 36pt;
  letter-spacing : 4px;
  text-shadow:  2px  2px 10px #333 ,
               -2px  2px 10px #333 ,
                2px -2px 10px #333 ,
               -2px -2px 10px #333;
}

main .bg_wrapper {
  width: 100%;
}

.limit {
  width: 100%;
  margin: 0;
  font-size: 1rem;
  color: white;
  padding: 1rem;
  text-align: center;
  font-weight: 400;
  letter-spacing: 3px;
  background-image: repeating-linear-gradient( 135deg, #606, #606 10px, #939 10px, #939 20px);
}

.limit strong{
  font-size: 2rem;
  font-weight: 700;
  color: rgb(222, 190, 29);
}

main .bg {
  width: 100%;
}

main .attention {
  font-weight: 700;
  color: white;
  position: relative;
  overflow: hidden;
}

main .attention h3{
  color: white;
  position: relative;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0px;
  width: 100%;
  height: 200%;
  background: #292d4a;
}

@media (min-width: 1000px) {
  main {
    background-size: cover;
  }
  main .bg_wrapper {
    height: 500px;
    overflow: hidden;
  }
  .background {
    height: 400%;
  }
}
@media (max-width: 767.98px) {
  header img {
    width: 71px;
    height: 16px;
  }
  header .title {
    font-size: 16px;
  }
  main h1 {
    font-size      : 24pt;
    padding-top: 100px;
    padding-left: 10px;
  }
}

.course_header {
  text-align: center;
}

.course_header_title {
  font-weight: 700;
  margin: 1rem;
}
.course_header_description {
  font-size: 1.2rem;
  font-weight: 700;
}

.course_master {
  position: relative;
  padding: 2rem;
  overflow: hidden;
}

.course_master.active .bg {
  background: rgb(69, 17, 154);
}

.animation_course .bg {
  position: absolute;
  content: '';
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.animation_course.active .bg {
  animation-duration: 1s;
  animation-name: course_box;
}

.course_normal {
  position: relative;
  padding: 2rem;
  overflow: hidden;
}

.course_normal.active .bg {
  background: rgb(35, 131, 150);
}

.course_box .course_title {
  margin-bottom: 1rem;
}

.course_box .course_title h4 {
  color: white;
  font-size: 2rem;
  border: 2px solid white;
  border-radius: 5px;
  display: inline;
  padding: 5px;
}

.course_box .course_description {
  color: white;
  font-size: 1.3rem;
  display: inline;
}

.cert {
  background-color: rgb(255, 207, 231);
  padding: 1rem;
  position: relative;
}

.cert #cert_kamifubuki {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.cert .row {
  justify-content: center;
  align-items: center;
}

.cert .cert_deacription {
  font-size: 1.1rem;
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid rgb(90, 22, 90);
  background-color: rgb(254, 232, 254);
  position: relative;
}

.cert .cert_deacription .asta_joy {
  position: absolute;
  top: -111px;
  right: 0px;
  height: 150px;
}

.cert .cert_deacription .asta_serif {
  font-family: "M PLUS Rounded 1c";
  position: absolute;
  top: -67px;
  right: 141px;
  background-color: white;
  border: 2px solid rgb(132, 13, 39);
  background: rgb(132, 13, 39);
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-weight: 800;
  font-size: 1rem;
}

@media (max-width: 576px) {
  .cert .cert_deacription {
    margin-top: 150px;
  }
}

.cert .cert_deacription .asta_serif::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -25px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid rgb(132, 13, 39);
  z-index: 0;
}

.cert h2 {
  font-weight: 700;
  margin: 1rem 0 2rem;
}

.cert img {
  height: 250px;
}

.rule {
  background: rgb(197, 227, 181);
  background-image: linear-gradient(45deg, rgb(207, 232, 178) 25%, transparent 25%, transparent 75%, rgb(207, 232, 178) 75%),
                    linear-gradient(45deg, rgb(207, 232, 178) 25%, transparent 25%, transparent 75%, rgb(207, 232, 178) 75%);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}

.rule h2 {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.rule dl {
  width: 90%;
  border-radius: 5px;
  background-color: #ffffff;
}

.rule dt {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.rule .rule_common {
  background: rgb(129, 171, 105);
}

.rule .rule_common .rule_common_tip{
  background: rgb(58, 80, 46);;
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem 1rem;
  display: inline-block;
}

.rule .rule_master {
  background: rgb(203, 176, 203);
}

.rule .rule_master .rule_master_tip{
  background: purple;
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem 1rem;
  display: inline-block;
}

.rule .rule_normal {
  background: rgb(176, 191, 203);
}

.rule .rule_normal .rule_normal_tip{
  background: rgb(0, 94, 128);
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem 1rem;
  display: inline-block;
}

.assessment {
  padding: 10px;
  background: rgb(254, 216, 119);
}

.assessment h2 {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.assessment dl {
  background-color: white;
  border-radius: 10px;
  padding: 0px;
}

.assessment dt {
  border-radius: 10px 10px 0 0;
  padding: 10px;
  font-size: 1.3rem;
  color: white;
}

.assessment dl:nth-child(1) dt {
  background-color: rgb(0, 0, 174);
}

.assessment dl:nth-child(1) ul li {
  border-bottom: 2px dashed rgb(112, 112, 193);
}

.assessment dl:nth-child(1) ul li:last-child {
  border-bottom: none;
}

.assessment dl:nth-child(2) dt {
  background-color: rgb(147, 1, 1);
}

.assessment dl:nth-child(2) ul li {
  border-bottom: 2px dashed rgb(202, 161, 161);
}

.assessment dl:nth-child(2) ul li:last-child {
  border-bottom: none;
}

.assessment dl:nth-child(3) dt {
  background-color: rgb(1, 68, 1);
}

.assessment dl:nth-child(3) ul li {
  border-bottom: 2px dashed rgb(107, 126, 107);
}

.assessment dl:nth-child(3) ul li:last-child {
  border-bottom: none;
}

.assessment .row {
  gap: 15px;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

@media (min-width: 768px) {
  .assessment dl {
    width: 32%;
  }
}

.assessment ul {
  list-style: none;
  padding: 0px;
}

.award {
  padding: 10px;
  background: rgb(93, 202, 164);
}

.award h2 {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.award dl {
  background-color: white;
  border-radius: 10px;
  padding: 0px;
}

.award dt {
  border-radius: 10px 10px 0 0;
  padding: 10px;
  font-size: 1.3rem;
  color: white;
}

.award .row {
  gap: 15px;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

@media (min-width: 768px) {
  .award dl {
    width: 32%;
  }
  .award.award_gakuen dl {
    width: 49%;
  }
  .award.award_all dl {
    width: 49%;
  }
}

@media (min-width: 1280px) {
  .award dl {
    width: 32%;
  }
  .award.award_gakuen dl {
    width: 24%;
  }
  .award.award_all dl {
    width: 49%;
  }
}

.chance {
  width: 80%;
  padding: 1rem;
  margin: 5rem 10% 2rem;
  text-align: center;
  font-weight: bold;
  background: #821194;
  color: gold;
  font-size: 1.2rem;
  position: relative;
}

.chance img {
  width: 120px;
  position: absolute;
  top: -90px;
  right: 0;
}

@media (min-width: 768px) {
  .chance img {
    width: 10vw;
    top: -5vw;
    right: 0;
  }
}

@media (min-width: 768px) {
  .award dl {
    width: 32%;
  }
  .award.award_gakuen dl {
    width: 49%;
  }
  .award.award_all dl {
    width: 49%;
  }
}

.award ul {
  list-style: none;
  padding: 0px;
}

.award dd {
  margin: 0;
  border-radius: 0 0 10px 10px;
}

.award ul li {
  background: #514545;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.award ul li.gold {
  background: rgb(164 3 3);
  font-weight: bold;
}

.award ul li.gold ul li {
  background: rgb(248, 221, 178);
}

.award ul li.gold ul li a {
  color: rgb(220, 83, 3);
  display: inline-block;
  width: 100%;
}

.award ul li.gold ul li:hover {
  background: rgb(243, 173, 61);
}

.award ul li.gold.github ul li {
  background: rgb(175, 75, 75);
}

.award ul li.gold.github ul li:hover {
  background: rgb(187, 91, 91);
}

.award dl:nth-child(1) dt {
  background-color: rgb(158, 133, 5);
}

.award dl:nth-child(1), .award dl:nth-child(1) dd {
  background-color: rgb(255 247 210);
}

.award dl:nth-child(2) dt {
  background-color: rgb(135, 135, 135);
}

.award dl:nth-child(2), .award dl:nth-child(2) dd {
  background-color: rgb(245 245 245);
}

.award dl:nth-child(3) dt {
  background-color: rgb(235, 137, 61)
}

.award dl:nth-child(3), .award dl:nth-child(3) dd {
  background-color: rgb(255 235 220);
}

.award dl:nth-child(4) dt {
  background-color: rgb(103, 192, 131)
}

.award dl:nth-child(4), .award dl:nth-child(4) dd {
  background-color: rgb(232, 255, 239);
}

.award .entry_button {
  display: block;
  text-decoration: none;
  color: white;
  background: #055036;
  width: 70%;
  margin: 30px auto;
  padding: 1rem;
  text-align: center;
  font-size: 1.7rem;
  border-radius: 20px;
}

.award .entry_button:hover {
  opacity: 0.8;
}

.award .description {
  padding: 10px;
}

.award.award_gakuen {
  background: rgb(149 147 221);
}

.award.award_gakuen .entry_button {
  background: rgb(49, 47, 121);
}

.award.award_all {
  background: rgb(211, 182, 211);
}

.judge {
  text-align: center;
  margin: 0 20px;
}

.judge__title {
  font-weight: 700;
}

.judge__row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.judge__box {
  position: relative; /* リボンのための基準位置を確保 */
  flex: 1 1 calc(25% - 20px);
  max-width: 300px;
  background: var(--primary-bg);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* 下のスペースを確保 */
}

.judge__ribbon {
  position: absolute;
  top: 10px; /* ボックス内に配置する */
  left: 10px;
  background: var(--accent-color4);
  color: white;
  padding: 5px 15px;
  font-size: 0.9rem;
  transform: rotate(-5deg); /* はみ出しを防ぐように調整 */
  transform-origin: left top;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.judge__box:nth-child(1) {
  background: var(--accent-color1);
  color: var(--accent-color4);
}

.judge__box:nth-child(2) {
  background: var(--accent-color2);
}

.judge__box:nth-child(3) {
  background: var(--accent-color3);
}

.judge__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px auto;
}

.judge__name {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px 0;
}

.judge__description {
  font-size: 0.9rem;
  line-height: 1.4;
}

@media (max-width: 768px) {
  .judge__box {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .judge__box {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

footer {
  background-color: rgb(180 154 31 / 80%);
  text-align: center;
  width: 100%;
  padding: 20px 0 100px;
  margin-top: 100px;
  color: rgb(106, 90, 15);
}

@keyframes fadein {
  from {
    opacity: 0;
    top: 50px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes below {
  from {
    opacity: 0;
    transform: translateY(50%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes course_box {
  from {
    opacity: 0;
    transform: translate(-100%, 0)
  }

  to {
    opacity: 1;
    transform: translate(0, 0)
  }
}

.award dl.lambda dt {
  background-color: rgb(5, 158, 69);
}

.award dl.lambda dd ul li {
  background-color: #055036;
}

.award dl.lambda, .award dl.lambda dd {
  background-color: rgb(210, 255, 224);
}

.award dl.lambda img {
  width: 40%;
}

@media (min-width: 768px) {
  .award dl.lambda dd ul li {
    width: 55%;
    margin-left: 10%;
  }
  .award dl.lambda dd {
    position: relative;
  }
  .award dl.lambda dd img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
  }
}

.award dl.watcher dt {
  background-color: rgb(5, 150, 158);
}

.award dl.watcher dd ul li {
  background-color: #053750;
}

.award dl.watcher, .award dl.watcher dd {
  background-color: rgb(210, 239, 255);
}

.award dl.watcher img {
  width: 40%;
}

@media (min-width: 768px) {
  .award dl.watcher dd ul li {
    width: 55%;
    margin-left: 10%;
  }
  .award dl.watcher dd {
    position: relative;
  }
  .award dl.watcher dd img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
  }
}


.oubo {
  background: rgb(251, 223, 211);
  background-image: linear-gradient(45deg, rgb(255, 208, 190) 25%, transparent 25%, transparent 75%, rgb(255, 208, 190) 75%), linear-gradient(45deg, rgb(255, 208, 190) 25%, transparent 25%, transparent 75%, rgb(255, 208, 190) 75%);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}

.oubo > .title {
  padding: 3rem 0;
}

.oubo h2 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: rgb(255 255 255);
  font-size: 3vw;
  background: #b55050;
  display: inline;
  padding: 10px 50px;
  border-radius: 10px;
}

.oubo strong {
  font-size: 1.4rem;
  color: rgb(223, 99, 99);
  text-decoration: underline;
}

.oubo .message {
  width: 90%;
  background-color: #232323;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 2rem;
}

.oubo img {
  width: 95%;
  border: 1px solid #333;
}

.oubo .description {
  width: 95%;
  margin-left: 2%;
  background: #fabc75ad;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: 600;
  border: 2px solid rgb(90, 22, 90);
  position: relative;
}

.oubo .description img {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 150px;
  height: 150px;
  border: 0;
}

@media (max-width: 768px) {
  .oubo .description {
    margin-top: 2rem;
  }
}